/* General requirement for homepage cards */
.homepage-card{
    font-family: Arial, Helvetica, sans-serif;
}


/* Main back drop styling */
.main-back-drop{
    background: url('../img/mainpage-back-drop.png') no-repeat  center ;
    background-size: cover;
    text-align: center;

    min-height: 85vh;
    min-width: 100%;

    position:relative;

    display: flex;
    flex-direction: column;
    
}

.main-back-drop .main-title{
    font-size: 100px;
    font-weight: bold;
    padding-top: 5%;
    position: relative;
}

.main-back-drop .sub-header{
    letter-spacing: 8px;
    font-size: 40px;
    padding-top: 4px;
}

.main-back-drop .explanation{
    margin-top: 8px;
    font-size: 24px;
}

.main-back-drop .sign-up-button{
    padding: 2% 4%;
    border:0;
    border-radius: 50px;
    font-size: x-large;
    background-color: rgba(253, 253, 253, 0.755);
    position: absolute;
    bottom:64px;
    left:44%;
    
}

/* End of main back drop */

/* Common things */
.main-title{
    font-size: 100px;
    padding-top: 5%;
    position: relative;
}

.sub-header{
    letter-spacing: 8px;
    font-size: 30px;
    padding-top: 32px;
}

.explanation{
    padding-top: 32px;
    font-size: 26px;
}

.view-button{
    padding:20px 0;
    width: 256px;
    border:0;
    border-radius: 50px;
    font-size: x-large;
    background-color: rgb(253, 253, 253);
    margin-top: 32px;
    
}

/* Hangout Styling */
.hangout{
    background: url('../img/mainpage-hangout.png') no-repeat  center ;
    background-size: cover;
    text-align: left;

    max-width: 100%;

    color:white;

    min-height: 85vh;
    min-width: 100%;

    position:relative;

    /* padding-left: 5%; */

    display: flex;
    flex-direction: column;
}



.hangout .co-host-picture{
    width: 312px;
    height: 312px;
}

.hangout .co-host-name{
    font-size: x-large;
}

.hangout .co-host-info{
    margin-top: 128px;
}



.hangout .white-logo{
    background-position: 50% 50%;
    width: 256px;
}



/* Blogs Styling */
.blogs{
    background: url('../img/purpleBackground.png') no-repeat  center ;
    background-size: cover;
    text-align: center;

    color:white;

    min-height: 85vh;
    min-width: 100%;

    position:relative;

    /* padding-left: 5%; */


    display: flex;
    flex-direction: column;
}

.blogs .blogGrid{
    padding-top: 5%;
}

.blogs .view-livestream{
    padding:20px 0;
    width: 256px;
    border:0;
    border-radius: 50px;
    font-size: x-large;
    background-color: rgb(253, 253, 253);
    margin-top: 32px;
    
}


.blogs .michelePic{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.blogs .michelleName{
    font-size: x-large;
    margin-top: 32px;
}

.blogs .whiteLine{
    width: 50%;
}

/* Podcast in homepage */

.podcast{
    background: url('../img/podcastBackground.png') no-repeat  center ;
    background-size: cover;
    text-align: left;

    color:black;

    min-height: 85vh;
    min-width: 100%;

    position:relative;

    /* padding-left: 5%; */


    display: flex;
    flex-direction: column;
}

.podcast .main-title{
    font-size: 80px;
    padding-top: 5%;
    position: relative;
}

.podcast .view-podcast{
    padding:30px 0;
    width: 256px;
    border:0;
    border-radius: 50px;
    font-size: x-large;
    background-color: 0xf0f0f0;
    margin-top: 32px;
}

.podcast .DanPic{
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.podcast .DanName{
    font-size: x-large;
    margin-top: 32px;
    align-items: center;
}

.podcast .designation{
    text-align: center;
}


/* LinkedIn Styling */
.linkedInPage{
    background: url('../img/lightBlueBackground.png') no-repeat  center ;
    background-size: cover;
    text-align: left;

    max-width: 100%;

    color:white;

    min-height: 85vh;
    min-width: 100%;

    position:relative;

    
    display: flex;
    flex-direction: column;
}


.linkedInPage .inImageLogo{
    margin-top: 10%;
}

.linkedInPage .main-title{
    font-weight: normal;
}


.linkedInPage .sub-header{
    font-size: 20px;
    padding-top: 0;
} 

.linkedInPage .explanation{
    font-weight: normal;
    font-size: 25px;
}


.linkedInPage .view-button{
    padding:20px 40px;
    width: 256px;
    border:0;
    border-radius: 50px;
    font-size: large;
    background-color: rgba(253, 253, 253);
    margin-top: 32px;
    
}

.linkedInPage .sub-section-header{
    margin-top: 15%;
    font-size: 28px;
    
}

.linkedInPage .sub-section-sub-header{
    font-size: 24px;
}

.linkedInPage .sub-section-explanation{
    font-size: 20px;
}


/* SignUp Styling */
/* LinkedIn Styling */
.SignUpPage{
    background: white ;
    background-size: cover;
    text-align: left;

    max-width: 100%;

    color:black;

    min-height: 85vh;
    min-width: 100%;

    position:relative;

    
    display: flex;
    flex-direction: column;
}

.SignUpPage .view-button{
    background-color:#F2F2F2;
    
}

.SignUpPage .mailImage{
    height: 85vh;
}

.SignUpPage .main-title{
    font-size: 72px;
}
.SignUpPage .explanation{
    font-size: 50px;
}


@media screen and (max-width: 600px) {


    /* Main back drop */
    .main-back-drop{
        background: url('../img/mainpage-back-drop.png') no-repeat  center ;
        background-color:#B3DBE3;
        background-size: 800px;
        background-position: 50% 100%;
    }
    .main-back-drop .main-title{
        font-size: 40px;
    }
    .main-back-drop .sub-header{
        letter-spacing: 8px;
        font-size: 30px;
    }
    
    .main-back-drop .explanation{
        margin-top: 32px;
        font-size: 20px;
    }

    .main-back-drop .sign-up-button{
       
        left:35%;
        
    }

    /* End of Main back drop */
  }
